
<div class="container">
    <div class="wrapper-re">
        <h1>Registration</h1>
        <div class="input-box">
          <input  [(ngModel)]="name" type="text" placeholder="Name" required>
          <mat-icon> account_circle </mat-icon>
        </div>
        <div class="input-box">
          <input [(ngModel)]="username" type="text" placeholder="Username" required>
          <mat-icon>
            <span class="material-symbols-outlined">
              lock
            </span>
          </mat-icon>
        </div>
        <div class="input-box">
          <input  [(ngModel)]="password" type="text" placeholder="Password" required>
          <mat-icon>
            <span class="material-symbols-outlined">
              lock
            </span>
          </mat-icon>
        </div>
        <button  (click)="btnCrateUid()" class="btn-re">Register Now
          <mat-icon>
            add_circle
          </mat-icon>
        </button>
     </div>
</div>
