<div class="container">
    <div class="box">
        <div class="item item-1">
            <img src="https://th.bing.com/th/id/OIP.c3wqpMKv8_3HXFkIWJWwuAHaKe?rs=1&pid=ImgDetMain" alt="">
            <div class="scors">
                <div class="scors-icon">
                <mat-icon>
                    favorite
                </mat-icon>
                </div>
                2222
            </div>
        </div>
        <div class="item item-2">
            <img src="https://1.bp.blogspot.com/-kL3SubeHWUc/VD_xwbbpKkI/AAAAAAAAQFs/eh8c2lFdsjc/s1600/Anime-image-anime-36250619-1024-768.jpg" alt="">
            <div class="scors">
                <div class="scors-icon">
                <mat-icon>
                    favorite
                </mat-icon>
                </div>
                1111
            </div>
        </div>
    </div>
</div>