<div class="container">
    <div class="wrapper">
        <h1>Login</h1>
        <div class="input-box">
          <input type="text" placeholder="Username" required>
          <mat-icon> account_circle </mat-icon>
        </div>
        <div class="input-box">
          <input type="password" placeholder="Password" required>
          <mat-icon>
            <span class="material-symbols-outlined">
              lock
            </span>
          </mat-icon>
        </div>
        <div class="remember-forgot">
          <label><input type="checkbox">Remember me</label>
          <a>Forgot password</a>
        </div>
        <!-- ส่งข้อมูลเข้าไปหน้า main -->
        <button class="btn">Login</button>
        <!-- main -->
        <div class="register-link">
          <p>Don't have an account?
            <!-- เปลี่ยนหน้า resig -->
          <a>Register</a></p>
            <!-- resig -->
        </div>
      </div>
</div>
