<div class="container">
    <div class="wrapper">
        <h1>Login</h1>
        <div class="input-box">
          <input type="text" placeholder="Username" #user>
          <mat-icon> account_circle </mat-icon>
        </div>
        <div class="input-box">
          <input type="password" placeholder="Password" required #pass>
          <mat-icon>
            <span class="material-symbols-outlined">
              lock
            </span>
          </mat-icon>
        </div>
       
        <!-- ส่งข้อมูลเข้าไปหน้า main -->
        <button class="btn" (click)="login(user.value, pass.value)" >Login</button>
        <!-- main -->
        <div class="register-link">
          <p>Don't have an account?
            <!-- เปลี่ยนหน้า resig -->
          <a href="/regis">Register</a></p>
            <!-- resig -->
        </div>
      </div>
</div>
