<header>
    <mat-toolbar color="primary">
        <span>Allmash</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <!-- home -->
        <nav class="navbar">
           <ul class="nav-links">
              <li class="nav-link home">
                <a href="/admit">
                  <mat-icon>home</mat-icon>
                  Home
                </a>
              </li>
              
           </ul>
        </nav>


        
        <!-- End of home -->

        <div class="tabal"  *ngIf="uuser.length > 0">
            <a (click)="logout()" style="cursor: pointer;">Logout</a>

            <div class="user-img" style="cursor: pointer;" >
              <img src="{{uuser[0].profile}}" alt="">
            </div>
            
            <div class="user-text">
              <h1>{{uuser[0].name}}</h1>
            </div>
            <mat-icon><span class="material-symbols-outlined">
              keyboard_double_arrow_right
            </span></mat-icon>

        </div>
        

      </mat-toolbar>
</header>

<!-- body -->
<div class="container">
    <div class="rank-header">
        <mat-icon>
            contact_page
        </mat-icon>
        <h1>User list</h1>
    </div>
    <div class="box">
        <div *ngFor="let admit_U of this.admit_U; let i = index">
            <div class="wrapper">
                <div class="rank-number">
                    {{i+1}}
                </div>
                <div class="rank img">
                    <img src="{{this.admit_U.profile}}" alt="">
                </div>
                <div>
                    <h2>{{this.admit_U.name}}</h2>
                </div>
                <div class="rank-vote">
                    {{this.admit_U.status}}
                    <mat-icon>
                        create_new_folder
                    </mat-icon>
                </div> 
            </div>
        </div>
    </div>
</div>