<app-header></app-header>
<div class="container">
    <div class="rank-header">
        <mat-icon>
            contact_page
        </mat-icon>
        <h1>User list</h1>
    </div>
    <div class="box">
        <div *ngFor="let admit_U of this.admit_U; let i = index">
            <div class="wrapper">
                <div class="rank-number">
                    {{i+1}}
                </div>
                <div class="rank img">
                    <img src="{{this.admit_U.profile}}" alt="">
                </div>
                <div>
                    <h2>{{this.admit_U.name}}</h2>
                </div>
                <div class="rank-vote">
                    {{this.admit_U.status}}
                    <mat-icon>
                        create_new_folder
                    </mat-icon>
                </div> 
            </div>
        </div>
    </div>
</div>