<div class="container">
    <div *ngIf="this.getUid.length >0 ">
    <div class="card-profile">
      
            <div class="card-profile-hand" (click)="fileInput.click()">
                <img src="{{this.getUid[0].profile}}" alt="">
                <input type="file" #fileInput style="display: none ;"(change)="ProfileImage($event)" /> <!-- ซ่อน input นี้ไว้ -->
            </div>
            <div class="card-profile-body">
                <h1>{{this.getUid[0].name}}</h1>
                <div>
                    <h2>Rename : </h2>
                    <div class="input-box">
                        <input #inputText  value="" type="text" placeholder="" />
                    </div>
                </div>
            </div>
            <div class="card-profile-add">
                <button mat-flat-button color="accent" (click)="btnClick(inputText)">Edit</button>
            </div>
        
    </div>
</div>
</div>
