*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
.container{
    display: grid;
    align-items: center;
    place-items: center;
    height: 100vh;
    background-color: antiquewhite; 
}
/* CSS สำหรับกำหนดลักษณะของรูปภาพ */
img.preview-image {
    max-width: 100%; /* ขนาดของรูปภาพจะไม่เกินขนาดของ input element */
    height: auto; /* รักษาอัตราส่วนของรูปภาพ */
    display: block; /* แสดงเป็น block element */
    margin-top: 10px; /* ระยะห่างด้านบน */
  }
  
  /* CSS สำหรับ input element */
  input[type="file"] {
    margin-bottom: 10px; /* ระยะห่างด้านล่าง */
  }