<div class="container">
    <div class="rank-header">
        <mat-icon>
            emoji_events
        </mat-icon>
        <h1>Rank is character</h1>
    </div>
    <div class="box">
        <div *ngFor="let getRank of this.getRank; let i = index">
            <div class="wrapper">
                <div class="rank-number">
                    {{i+1}}
                </div>
                <div class="rank img">
                    <img src="{{this.getRank.img}}" alt="">
                </div>
                <div class="rank-vote">
                    {{this.getRank.vote_count}}
                    <mat-icon>
                        favorite
                    </mat-icon>
                </div> 
            </div>
        </div>
        <!-- <div class="wrapper">
            <div class="rank-number">
                1.
            </div>
            <div class="rank img">
                <img src="https://th.bing.com/th/id/OIP.awAiMS1BCAQ2xS2lcdXGlwHaHH?rs=1&pid=ImgDetMain" alt="">
            </div>
            <div class="rank-vote">
                vote
                <mat-icon>
                    favorite
                </mat-icon>
            </div> 
        </div> -->
    </div>
</div>
