<div class="container">
    <div class="rank-header">
        <mat-icon>
            emoji_events
        </mat-icon>
        <h1>Rank is character</h1>
    </div>
    <div class="box">
        <div class="wrapper">
            <div class="rank">
                1.
            </div>
            <div class="rank name">
                name
            </div>
            <div class="rank img">
                <img src="https://th.bing.com/th/id/OIP.awAiMS1BCAQ2xS2lcdXGlwHaHH?rs=1&pid=ImgDetMain" alt="">
            </div>
            <div class="rank-vote">
                vote
                <mat-icon>
                    favorite
                </mat-icon>
            </div>
        </div>
        <div class="wrapper">
            <div class="rank">
                1.
            </div>
            <div class="rank name">
                name
            </div>
            <div class="rank img">
                <img src="https://th.bing.com/th/id/OIP.awAiMS1BCAQ2xS2lcdXGlwHaHH?rs=1&pid=ImgDetMain" alt="">
            </div>
            <div class="rank-vote">
                vote
                <mat-icon>
                    favorite
                </mat-icon>
            </div>
        </div>
        <div class="wrapper">
            <div class="rank">
                1.
            </div>
            <div class="rank name">
                name
            </div>
            <div class="rank img">
                <img src="https://th.bing.com/th/id/OIP.awAiMS1BCAQ2xS2lcdXGlwHaHH?rs=1&pid=ImgDetMain" alt="">
            </div>
            <div class="rank-vote">
                vote
                <mat-icon>
                    favorite
                </mat-icon>
            </div>
        </div>
        <div class="wrapper">
            <div class="rank">
                1.
            </div>
            <div class="rank name">
                name
            </div>
            <div class="rank img">
                <img src="https://th.bing.com/th/id/OIP.awAiMS1BCAQ2xS2lcdXGlwHaHH?rs=1&pid=ImgDetMain" alt="">
            </div>
            <div class="rank-vote">
                vote
                <mat-icon>
                    favorite
                </mat-icon>
            </div>
        </div>
        <div class="wrapper">
            <div class="rank">
                1.
            </div>
            <div class="rank name">
                name
            </div>
            <div class="rank img">
                <img src="https://th.bing.com/th/id/OIP.awAiMS1BCAQ2xS2lcdXGlwHaHH?rs=1&pid=ImgDetMain" alt="">
            </div>
            <div class="rank-vote">
                vote
                <mat-icon>
                    favorite
                </mat-icon>
            </div>
        </div>
    </div>
</div>
